<div class="big-container product-manage-wrapper flexed-item">
  <form method="post" action="/game-edit/{{_id}}" class="edit-product-form">
    <h3 class="form-title"> Edit Game</h3>
    <div class="form-item-wrapper flexed-item">
      <label for="game-name" class="label-name label">Game name</label>
      <input id="game-name" type="text" name="name" class="input-text input" placeholder="Cyberpunk"
        value="{{name}}">
    </div>
    <div class="form-item-wrapper flexed-item">
     <label for="platform" class="label-main-cat label">Platform</label>
      <select name="platform" id="platform" class="select" required>
        <option value="-1" disabled selected>Choose a platform</option>
        <option value="Playstations">Playstations</option>
        <option value="Xbox">Xbox</option>
        <option value="PC">PC</option>
        <option value="Switch">Switch</option>
      </select>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-descr" class="label-descr label">Description</label>
      <input id="sneaker-descr" type="text" name="description" class="input-text input"
        placeholder="#" value="{{description}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-price" class="label-price label">Price</label>
      <input id="sneaker-price" type="number" name="price" class="sneaker-price input" min="1" value="{{price}}">
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="sneaker-main-cat" class="label-main-cat label">Main category</label>
      <select name="category" id="main_category" class="select" required>
        <option value="-1" disabled selected>Choose a category</option>
        <option value="action">action</option>
        <option value="RPG">RPG</option>
        <option value="fighting">fighting</option>
        <option value="shooter">shooter</option>
        <option value="infiltration">infiltration</option>
        <option value="horror">horror</option>
        <option value="adventure">adventure</option>
        <option value="racing">racing</option>
      </select>
    </div>
        </div>
    <button class="button-primary add-sneaker-btn">Edit this game</button>
  </form>
</div>