<section id="section-main">
    <div id="main">
        <h2 class="text-shadow-pop-top">TOO MANY GAMES? NOT ENOUGH TIME?</h2>
        <h2 class="text-shadow-pop-top">LET US CHOOSE FOR YOU!</h2>
        <button id="selection" class="color-change-3x"><a href="/recommendation">TODAY'S SELECTION</a></button>
        {{#unless isLoggedIn}}
        <h2 class="text-shadow-pop-top">NOT A MEMBER YET?</h2>
        <button id="sign-in" class="color-change-3x"><a href="/auth/signup">SIGN-IN</a></button>
        {{/unless}}

        <h2 class="text-shadow-pop-top">VIEW ALL THE GAMES!</h2>
        <button id="selection" class="color-change-3x"><a href="/games">Full collection</a></button>
        {{#if isLoggedIn}}
        <h2 class="text-shadow-pop-top">View my playlist</h2>
        <button id="selection" class="color-change-3x"><a href="/playlistList/{{this.id}}">My playlist</a></button>
        <h2 class="text-shadow-pop-top">View all favorites</h2>
        <button id="selection" class="color-change-3x"><a href="/playlist">All favorites</a></button>
        {{/if}}
    </div>
</section>