<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Games Website - {{ pageTitle }}</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script type="module" src="/javascripts/styles-manager.js"></script>
  <script src="https://kit.fontawesome.com/a03fdcc63b.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


  <section id="section-nav">
    <header>
      <nav id="navbar">
        <div class="nav-left">
          <a href="/"><img src="/images/Main-Page-Icons/console.png" alt="Console-Image" /></a>
          <a href="games">
            <p>What do I play today?</p>
          </a>
        </div>
        
                  {{#if isLoggedIn}}
          <li class="nav-item animated-link nav-item-admin">
            <a href="/game-add">Add game to the full collection</a>
          </li>
           <li class="nav-item animated-link nav-item-admin">
            <a href="/games-manage">Manage games collection</a>
          </li>
          {{/if}}
                {{#unless isLoggedIn}}

        <div class="nav-right">
          <ul id="navbar-links">
            <li>
              <a href="settings"><img src="/images/Main-Page-Icons/Sign-in.png" alt="Sign-In-Icon" />
                Sign In</a>
            </li>
            <li>
              <a href="/auth/signin"><img src="/images/Main-Page-Icons/Login.png" alt="Login-Icon" />
                Login</a>
            </li>
          </ul>
          {{/unless}}
          {{#if isLoggedIn}}
          <a href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
            <a href="/auth/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
              <span class="btn-text">Log out</span>
            </a>
            {{/if}}
        </div>
      </nav>
    </header>
  </section>

  {{{body}}}

</body>

</html>