<h1>SETTINGS / SIGN IN</h1>
<img id="sign-out" src="/images/Settings-Page-Icons/Sign-out.png" alt="Sign-out-icon">
<form method="post" action="/dashboard/label/create" enctype="multipart/form-data" class="form">
    <label class="label" for="username">username</label>
    <input class="input" id="username" type="text" value="username" name="username">
    <label class="label" for="password"></label>
    <input class="input" id="password" type="text" value="password" name="password">
    <label class="label" for="country">country</label>
    <input class="input" id="country" type="text" value="fake country" name="country">
    <label class="label" for="street">street</label>
    <input class="input" id="street" type="text" value="fake street" name="street">
    <label class="label" for="street-number">street number</label>
    <input class="input" id="street-number" type="number" value="123" name="streetNumber">
    <label class="label" for="zipcode">zipcode</label>
    <input class="input" id="zipcode" type="text" value="75018" name="zipcode">
    <label class="label" for="logo">
        <span>label's logo</span>
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
    <input class="is-hidden" id="logo" type="file" name="logo">
    <button class="btn">create</button>
</form>