<h1 class="form-title text-shadow-pop-top">Welcome Back !</h1>
</header>
{{#if msg }}
<p class="message {{msg.status}}">{{msg.text}}</p>
{{/if}}
<div class="login-page">
  <form method="post" action="/auth/signin" id="form_user">
    <div class="form-item-wrapper flexed-item">
      <label for="email" class="label-ref label">Email</label>
      <input id="email" name="email" type="email" class="input-text input" placeholder="toto.tutu@gmail.com" required>
    </div>
    <div class="form-item-wrapper flexed-item">
      <label for="password" class="label-ref label">Password</label>
      <input id="password" name="password" type="password" class="input-text input" placeholder="••••••" required>
    </div>
    <div>
      <button class="button-primary white btn-login">Log in <i class="fas fa-dungeon"></i></button>
    </div>

  </form>
  <div class="no-account">
    <p class="form-sub-infos">Don't have an account yet ?
    </p>
    <div class="btn-div-signup">
      <a href="/auth/signup" class="button-link-form">Sign Up <i class="fas fa-file-signature"></i></a>
    </div>
  </div>
</div>