@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/images/Main-Page-Icons/background.png");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

img {
    width: 20px;
}

nav {
    min-height: 10vh ;
    display: flex;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    width: 100%;
    background-color: rgb(175, 175, 175);

}
nav ul {
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.nav-left, .nav-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.nav-left img {
    width: 65px;
    margin: 0 20px 0 20px;
}
#navbar-links li {
    flex-direction: column;
    width: 90px;
    margin: 0 5px 0 5px;
}

#navbar-links {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

a img {
    width: 35px;
    margin: 0 20px 0 20px;
}

#section-main {
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}

#main {
    margin: 10% 0 10% 0;
    color: white;
}

#main h2 {
    margin: 5% 0 5% 0;
}

#main button {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}

#main a {
    font-size: 12px;
}

#selection, #sign-in {
    width: 35%;
}