@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("/images/Main-Page-Icons/background.png");
    background-repeat: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

img {
    width: 20px;
}

nav {
    min-height: 10vh ;
    display: flex;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    width: 100%;
    background-color: rgb(175, 175, 175);

}
nav ul {
    display:flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.nav-left, .nav-right {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.nav-left img {
    width: 65px;
    margin: 0 20px 0 20px;
}
#navbar-links li {
    flex-direction: column;
    width: 90px;
    margin: 0 5px 0 5px;
}

#navbar-links {
    flex-direction: row;
}

a {
    text-decoration: none;
    color: black;
}

a img {
    width: 35px;
    margin: 0 20px 0 20px;
}

#section-main {
display: flex;
justify-content: center;
align-items: center;
text-align: center;

}

#main {
    margin: 10% 0 10% 0;
    color: white;
}

#main h2 {
    margin: 5% 0 5% 0;
}

#main button {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
}

#main a {
    font-size: 12px;
}

#selection, #sign-in {
    width: 35%;
}

/* Games Page Styles */

#game-h4 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 20px;
}


/* Games Page Search Filter Form */

.slidecontainer {
    width: 20%; /* Width of the outside container */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    border-radius: 5px;
    /* background: #d3d3d3; */ /* Grey background */
    background: rgb(175, 175, 175);
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%; 
    background: #00ff08; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #00ff08; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  /* Search div */
  #search-div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-top: 4%;
      color: white;
  }

  #search-div .input {
      border-radius: 10px;
      height: 25px;
      padding: 5px 15px;
      font-size: 10px;
  }

  .products-wrapper{
      color: white;
  }

  #games, .products-wrapper, .products-infos, .products-title, .products-grid, .product-item-wrapper, .product-name, .product-cat, .product-price {
      color: white;
  }

  .products-wrapper {
      margin-top: 4%;
  }
  .products-grid {
      display: flex;
      flex-direction: row;
     justify-content: center;
     align-items: center;
     text-align: center;
     flex-wrap: wrap;

  }

  .product-item-wrapper {
      display: flex;
      flex-direction: column;
      flex-basis: 33.333333%;
      justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px;
  }

  .product-images {
      width: 33%;
      margin: 4% 0 4% 0;
  }

  .products-title {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 2%;
  }

  .product-name, .product-cat, .product-price {
      padding-bottom: 2%;
  }


  /* Add a game (Games page <a> tag) */
#add-a-game {
    color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 33.333333%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}

/* Game_add page */

.one-product-container,.game-info {
    display: flex;
    justify-content: space-around;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 5% 0 5% 0;
    text-align: center;
    vertical-align: middle;
}

.game-name, .uppercase {
    text-transform: uppercase;
}

.uppercase {
    font-size: 12px;
    font-weight: bold;
}

.titles {
    font-size: 25px;
    margin-bottom: 4%;
    text-align: center;
}

.game-img-container, .game-attributes {
    width: 30%;
}

.game-img {
    display: flex;
    margin: 6% 0 0 4%;
    width: 90%;
    height: auto;
    object-fit:scale-down;
    object-fit: cover;
    overflow: hidden;
}

.description {
    text-align: left;
    width: 40%;
}

.description-text {
    width: 100%;
    font-size: 10px;
    height: auto;
    line-height: 20px;
    word-break: keep-all;
    overflow-wrap: break-word;
    hyphens: auto;
    line-break: loose;
}

.game-attributes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    position: relative;
    vertical-align: middle;
}

.game-attributes>div {
    flex: 0 50%;
    width: 50%;
    height: auto;
    font-size: 10px;
    line-height: 20px;
    justify-content: space-around;
}

.add-to-favs-btn {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin-top: 15%;
    margin-left: 25%;
}

.add-to-favs-btn:hover {
    background-color: black;
    color: white;
}

.fav {
    width: 15px;
}

.add-to-favs-btn img {
    visibility:hidden;
  }

.add-to-favs-btn:hover img {
   visibility:visible;
  }

  /* Redirecting to game_manage page button */

.edit-btn {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    margin-top: 15%;
    margin-left: 43%;
}

.edit-btn:hover {
    background-color: black;
    color: white;
}

.edit-btn i {
    padding-left: 2px;
    visibility:hidden;
  }

.edit-btn:hover i {
   visibility:visible;
  }

  /* Game add page */

.form-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 25px;
}

.add-form {
    color: white;
    padding: 5%;
    height: auto;
    font-size: 20px;
}

.form-item-wrapper {
    margin: 4%;
}

.form-item-wrapper input, select, .add-img {
    border-radius: 10px;
    height: 40px;
    padding: 10px 5px;
    overflow: hidden;
    font-size: 12px;
}

.add-to-collection-btn {
    display: flex;
    text-align: center;
    border-radius: 10px;
    padding: 20px 10px 20px 10px;
    margin: 8% 4% 4% 4%;
}

.add-to-collection-btn:hover {
    background-color: black;
    color: #00ff08;
}

.add-to-collection-btn i {
    padding-left: 2px;
    visibility:hidden;
  }

.add-to-collection-btn:hover i {
   visibility:visible;
  }

  /* Game Manage Page */

.manage-products-wrapper, .manage-products-wrapper i {
    color: white;
}

.manage-products-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 5%;
    font-size: 25px;
}

.product-manage-table {
    margin: 5%;
    text-align: center;
}

/**/

.manage-products-wrapper table {
    border-spacing: 10px;
    /*border-collapse: separate;*/
    border-collapse: collapse;
    width: 90%;
}

.manage-products-wrapper td, th { 
/*padding: 10px;*/
padding: 8px;
text-align: left;
border-bottom: 1px solid #ddd;

}

.manage-products-wrapper tr:hover {
background-color: black;
color: #00ff08;
}

.manage-products-wrapper tr:hover i {
    background-color: black;
    color: #00ff08;
    }

.manage-products-wrapper img {
width: 10%;
height: auto;
}

/* Seach bar for game_manage page */
.example {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #00ff08;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }